@{
    ViewBag.Title = "Nosotros";
}
<br/>
<br/>
<h2>@ViewBag.Title</h2>
<br />
<br />
<br />
<div class="about">
    <a href="#parrafo1" data-toggle="collapse">
        <img class="img-responsive center-block" src="~/Content/Imagenes/nosotros.jpg">
    </a>
    <br />
    <br />
    <div class="collapse" id="parrafo1">
        <p>
            Somos una empresa 100% española de distribución de productos 100% veganos/vegetarianos y ecológicos que busca dinamizar el mercado y conseguir que
            el consumo de productos ecológicos sea cada día más asequible a un mayor número de personas. Apostamos fielmente por productores
            de proximidad y por productos de temporada y creemos firmemente que el consumo de productos ecológicos de manera estable contribuye
            a tener una vida más saludable y por supuesto a preservar el medio ambiente para futuras generaciones.
        </p>
        <p>
            Nuestro objetivo es promover, desarrollar y acercar el consumo de productos ecológicos, con un objetivo claro: convertir el producto
            ecológico en un producto de consumo generalizado que repercuta en la mejora del medio ambiente, la salud y el bienestar de las personas.
        </p>
        <p>
            Cada uno de los que formamos el equipo The Koala Shop, trabajamos cada día por ofrecer lo mejor de nosotros para que cada cliente se sienta único, cuidado y mimado
            y damos las gracias a todos por la confianza que depositan en nosotros cada día.
        </p>
    </div>
</div>
<br />
<br />
<h3>Nuestra misión</h3>
<br />
<br />
<div>
    <a href="#parrafo2" data-toggle="collapse">
        <img class="img-responsive center-block" src="~/Content/Imagenes/valores.jpg" />
    </a>
    <br />
    <br />
    <div class="collapse segundo" id="parrafo2">
        <div class="parrafoEt">
            <p>
                La experimentación animal para la producción de cosméticos es uno de los campos en los que los animales son usados.
                Supone la muerte de millones de animales en diferentes países, animales que son perjudicados de manera muy diferentes en el proceso.
                Se usan conejos, cobayas, ratones y ratas de manera habitual para la experimentación animal. Son quemados, mutilados, envenenados y
                gaseados, y si consiguen sobrevivir al proceso, son matados para que sus cuerpos puedan ser estudiados o bien son sometidos al mismo
                tormento de nuevo.
            </p>
            <p>
                En The Koala Shop, creemos que la experimentación 100% libre de víctimas es posible y luchamos día a día por conseguir los mejores productos
                para nuestros clientes con 0 víctimas.
            </p>
            <p>
                También optamos por el cultivo de alimentos sostenibles a base de las mejores materias primas y con altos valores nutricionales, tratando
                de inculcar una alimentación saludable, sin productos sintéticos ni pesticidas. Además, está demostrado que una alimentación saludable
                a base de productos ecológicos ayuda a combatir una gran cantidad de enfermedades cardiovasculares y hepáticas.
            </p>
        </div>
        <div class="imagenEt">
            <img class="" src="~/Content/Imagenes/experiment.jpeg">
        </div>
    </div>
</div>
<br />
<br />
<h3>Proyectos solidarios</h3>
<br />
<br />
<div>
    <a href="#parrafo3" data-toggle="collapse">
        <img class="img-responsive center-block" src="~/Content/Imagenes/hand.jpg">
    </a>
    <br />
    <br />
    <div class="collapse tercero" id="parrafo3">
        <div class="imagenAt">
            <img class="primerProyecto" src="~/Content/Imagenes/animalhome.png">
            <br/>
            <img src="~/Content/Imagenes/preservacion.png">
        </div>
        <div class="parrafoAt">
            <p>
                <b>
                    España se abandonan más de 137 000 animales de compañía cada año, de ellos 104 000 son perros y 33 000 son gatos:
                    cifras muy elevadas y preocupantes, las más altas de toda la UE.
                </b>
                <br />
                En colaboración con <a href="http://www.animalhome.es/">Animal Home</a>, The Koala Shop trata de promover la adopción mediante charlas
                gratuitas en colegios e institutos para concienciar a los más pequeños sobre el abandono. Siempre que nos es posible, llevamos a alguno de
                nuestros adoptados para que los niños puedan verlos en primera persona y jugar. En estas charlas no sólo explicamos los beneficios de adoptar un animal.
            </p>
            <p>
                <b>
                    Preservación de bosques maduros del Mediterráneo. Preservar 7895 metros cuadrados de bosques maduros y su biodiversidad.
                </b>
                <br />
                Se considera un “bosque maduro” un bosque con nula o muy poca intervención humana, que ha ido evolucionando de forma natural a
                lo largo de décadas, o incluso siglos, hasta convertirse en un exponente único y singular de lo que la naturaleza es capaz de generar en un ecosistema
                específico. La preservación de los bosques maduros es clave para proteger la biodiversidad, sobre todo a muchos animales que se encuentran en peligro de
                extinción. The Koala Shop destina un porcentaje de sus ventas a la conservación de estos bosques y a promover el cuidado de los espacios
                naturales, tan valiosos para nuestra región.
            </p>
        </div>
    </div>
</div>
<br />
<br />


