@model IEnumerable<Koala.Models.Tipo_Producto>

@{
    ViewBag.Title = "Inicio";
}

<br />
<div class="row">
    <div class="col-lg-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Imagenes/crueltyfreebunny.jpg" alt="">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Imagenes/huertos.jpg" alt="">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Imagenes/terapiaact.jpg" alt="">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>


            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <h2 style="color:darkgreen; text-align:justify; font-weight:bold;">Tu tienda de productos veganos y ecológicos</h2>
        <br />
        <p style="text-align:justify">
            Nuestro compromiso social nos impulsa a ofrecerte cada día los productos más frescos,
            naturales y saludables, siempre cuidando el medio ambiente y sin víctimas.
        </p>
        <br />
        <img style="margin-left:40px; margin-right:15px;" src="~/Content/Imagenes/CAAE.jpg" alt="">
        <img style="margin-left:15px;" src="~/Content/Imagenes/CCF.jpg" alt="">
    </div>
</div>
<br />
<div>
    <h2 style="font-weight:bold; text-align:center; color:darkgreen;">Nuestro catálogo de productos</h2>
</div>
<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card" id="type-card">
                <a href="#">
                    <img class='card-img-top' style="display:block; margin:auto;" 
                         src="~/Content/Imagenes/@item.Foto_Tipo" />
                </a>
                <div class="card-block">
                    <h2 class="card-title mt-3" style="text-align:center; text-decoration:none; 
                        color:darkgreen;">@item.Descripcion</h2>
                    <div class="card-text">
                        <p style="text-align:justify;">@item.Texto_Tipo</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
<br />