@model Koala.Models.CartViewModel

@{
    ViewBag.Title = "Carrito";
}

<h2 class="page-header">Carrito</h2>

<div class="row" style="margin-top: 35px;">
    <table class="table">
        <tr>
            <th>
                Nombre del producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Descuento
            </th>
            <th>
                Precio
            </th>
            <th>
                Precio Total
            </th>
        </tr>

    </table>
    <p>
        @Html.ActionLink("Continuar comprando", "Catalogo")
    </p>
</div>
<br />
<br />
<br />
<br />

