
@{
    ViewBag.Title = "Error 403";
}

<div class="col-md-12">
    <div class="error-container">
        <h1 class="text-danger">Ups!</h1>
        <h2 class="text-danger">403 Access Forbidden</h2>
        <p class="error-details">
            Lo sentimos, ha ocurrido un error, no estás autorizado a visualizar este recurso!
        </p>
        <div class="error-actions">
            <a href="/" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver a la Página principal
            </a>
            <a href="/Home/Contact" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;Contactar con Servicio técnico
            </a>
        </div>
    </div>
</div>
